aiohttp==3.11.14
cartopy==0.24.1
configargparse
folium==0.19.5
geopandas==1.0.1
ipykernel==6.29.5
matplotlib==3.10.1
natsort==8.4.0
nbformat==5.10.4
numba==0.61.0
numpy==2.0
opencv-python==4.11.0.86
pandas==2.2.3
rasterio==1.4.3
